.blog {
    // .blog__container

    &__container {
    }

    // .blog__content

    &__content {
        display: flex;
        column-gap: 8px;
        @media screen and (max-width: 768.99px) {
            display: block;
        }
    }

    // .blog__item

    &__item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 8px;
        }
        img {
            width: 100%;
        }
        @media screen and (max-width: 768.99px) {
            display: flex;
            flex-direction: column;
        }
    }
    &__left {
    }
    &__right {
    }
    &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 306px;
        font-weight: 500;
        font-size: 24px;
        @include adaptiveValue(font-size, 24, 18, 1);
        line-height: calc(29 / 24);
        color: #fff;
        padding: 0 0 10px 25px;
    }
}
