.checkout__wrapper {
    display: flex;
    @include adaptiveValue(gap, 140, 20, 1);
    @media screen and (max-width: 960px) {
        flex-direction: column-reverse;
    }
}
.checkout-product {
    overflow: hidden;
    width: 605px;
    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: calc(29 / 24);
        color: $darkColor;
        padding-bottom: 6px;
        border-bottom: 1px solid #040406;
        margin-bottom: 24px;
    }
    @media screen and (max-width: 960px) {
        width: initial;
        overflow: auto;
    }
}
.checkout {
    .cart-card {
        margin-bottom: 0;
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(4, 4, 6, 0.03);
        .cart-card__item {
            flex: 1 1;
            .cart-card__body {
                flex: 1 1;
            }
        }
    }
}

.checkout {
    // .checkout__similar

    &__similar {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
        font-weight: 400;
        font-size: 13px;
        line-height: calc(16 / 13);
        padding-bottom: 24px;
        border-bottom: 1px solid rgba(4, 4, 6, 0.03);
        &:not(:last-child) {
            @include adaptiveValue(margin-bottom, 70, 30, 1);
        }
        &.min {
            @media screen and (max-width: 620px) {
                flex-wrap: nowrap;
            }
        }
    }
}
.similar-ckeckout {
    // .similar-ckeckout__title

    &__title {
        color: $darkColor;
    }

    // .similar-ckeckout__items

    &__items {
        display: flex;
        gap: 9px;
        align-items: center;
        &.min {
            .card {
                padding-bottom: 0;
                max-width: 69px;
                .card__image {
                    margin-bottom: 0;
                }
                @media screen and (max-width: 620px) {
                    display: none;
                }
            }
        }
    }

    // .similar-ckeckout__pic

    &__pic {
    }

    // .similar-ckeckout__more

    &__more {
        color: #bdbdbd;
        position: relative;
        padding-right: 14px;
        cursor: pointer;
        transition: 0.3s linear;
        &::after {
            content: "";
            width: 6px;
            height: 6px;
            border-top: 1px solid;
            border-right: 1px solid;
            display: block;
            right: 2px;
            top: 3px;
            transform: rotate(135deg);
            position: absolute;
            transition: 0.2s;
        }
        &:hover {
            color: $darkColor;
        }
        &.open {
            &::after {
                top: 6px;
                transform: rotate(-45deg);
            }
        }
    }
}

.similar-card {
    // .similar-card__text

    &__text {
        margin-top: 5px;
        padding-left: 11px;
        font-size: 13px;
        line-height: calc(16 / 13);
        display: none;
    }

    // .similar-card__title

    &__title {
        margin-bottom: 5px;
        font-weight: 400;
    }

    // .similar-card__sub

    &__sub {
        margin-bottom: 8px;
        font-weight: 500;
    }
}

.personal {
    @include adaptiveValue(margin-bottom, 70, 30, 1);
    // .personal__title

    &__title {
        margin-bottom: 20px;
    }

    // .personal__input-wrapper

    &__input-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 15px;
    }

    // .personal__data

    &__data {
        background: #f8f8f8;
        border-radius: 2px;
        height: 48px;
        padding-left: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(17 / 14);
        color: $darkColor;
        &::placeholder {
            color: #9d9d9d;
        }
    }
}

.checkout-delivery {
    @media screen and (max-width: 960px) {
        @include adaptiveValue(margin-bottom, 70, 30, 1);
    }
    // .checkout-delivery__title

    &__title {
    }

    // .checkout-delivery__input-wrapper

    &__input-wrapper {
        display: flex;
        @include adaptiveValue(gap, 76, 15, 1);
        margin-bottom: 28px;
        input[type="radio"] {
            display: none;
            &:checked {
                + .checkout-delivery__label {
                    .custom__radio {
                        &::before {
                            opacity: 1;
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }
                }
            }
        }
    }

    // .checkout-delivery__label

    &__label {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    // .checkout-delivery__addres

    &__addres {
        width: 100%;
    }
}
.checkout-product {
    // .checkout-product__title

    &__title {
    }
}
.custom {
    // .custom__radio

    &__radio {
        width: 16px;
        height: 16px;
        border: 1px solid #040406;
        border-radius: 2px;
        position: relative;
        @include adaptiveValue(margin-right, 12, 5, 1);
        display: block;
        &:before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.2);
            background-color: #000;
            transition: 0.3s ease;
            opacity: 0;
        }
    }
}
.personal {
    // .personal__data

    &__data {
    }
}

.checkout-total {
    width: 529px;
    color: $darkColor;
    input[type="checkbox"] {
        display: none;
        &:checked {
            + .checkout-total__label {
                .custom-checkbox {
                    &::before {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 960px) {
        width: initial;
    }
    // .checkout-total__title

    &__title {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue(font-size, 24, 18, 1);
    }

    // .checkout-total__price

    &__price {
        font-weight: 500;
        @include adaptiveValue(font-size, 30, 24, 1);
        line-height: calc(36 / 30);
    }

    // .checkout-total__sub

    &__sub {
        font-weight: 400;
        font-size: 14px;
        line-height: calc(17 / 14);
        margin-bottom: 25px;
    }

    // .checkout-total__label

    &__label {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        cursor: pointer;
    }

    // .checkout-total__promocode

    &__promocode {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 36px;
        @media screen and (max-width: 960pxpx) {
            margin-bottom: 0;
        }
    }

    // .checkout-total__promocode-input

    &__promocode-input {
        background: #f8f8f8;
        border-radius: 2px;
        height: 47px;
        padding-left: 12px;
        flex: 1 1;
        width: 100%;
    }

    // .checkout-total__promocode-btn

    &__promocode-btn {
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24 / 16);
        color: #000;
        border: 1px solid #000000;
        border-radius: 4px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex: 1 1;
    }

    // .checkout-total__order

    &__order {
        background: #040406;
        border-radius: 4px;
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24 / 20);
        color: #fff;
        width: 100%;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 11px;
        cursor: pointer;
        @media screen and (max-width: 960px) {
            display: none;
        }
    }

    // .checkout-total__privacy

    &__privacy {
        font-weight: 300;
        font-size: 13px;
        line-height: 1.46;
        color: #9d9d9d;
        a {
            color: $darkColor;
        }
        @media screen and (max-width: 960px) {
            display: none;
        }
    }
}

.checkout {
    // .checkout__similar-big

    &__similar-big {
        padding-bottom: 24px;
        border-bottom: 1px solid #040406;
        @include adaptiveValue(margin-bottom, 70, 30, 1);
        font-size: 14px;
        line-height: calc(17 / 14);
        font-weight: 400;
        .similar-ckeckout__more {
            &::after {
                transform: rotate(-45deg);
                top: 9px;
            }
        }
    }
    &__similar-big__header {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 21px;
    }

    // .checkout__similar-cards

    &__similar-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        .card {
            margin: 0;
            max-width: 190px;
            @media screen and (max-width: 960px) {
                margin: 0 auto;
                &:last-child {
                    display: none;
                }
            }
        }
    }
}
.similar-ckeckout {
    // .similar-ckeckout__title

    &__title {
    }

    //
}
.card {
    // .card__image

    &__image {
    }

    // .card__text

    &__text {
    }

    // .card__name

    &__name {
    }

    // .card__price

    &__price {
    }
}
.swiper {
}
.card-thumb-swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}
.card-thumb-pag {
}

.toorder-mob-show {
    .checkout-total__privacy {
        @media screen and (max-width: 960px) {
            display: block;
        }
    }
    .checkout-total__order {
        @media screen and (max-width: 960px) {
            display: block;
        }
    }
}
