.delivery {
    // .delivery__container

    &__container {
        @include adaptiveValue(margin-top, 57, 35, 1);
        display: grid;
        @include adaptiveValue(gap, 45, 20, 1);
        grid-template-columns: repeat(2, auto);
        @media screen and (max-width: 768.99px) {
            display: block;
        }
    }
    // .delivery__header

    &__header {
        &.item__header {
            @include adaptiveValue(font-size, 24, 18, 1);
        }
        &:not(:first-child) {
            margin-top: 0;
            margin-bottom: 16px;
        }
    }

    // .delivery__breadcrumb

    &__breadcrumb {
    }

    // .delivery__content

    &__content {
        &:not(:last-child) {
            border-bottom: 1px solid rgba(4, 4, 6, 0.14);
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    }

    // .delivery__text

    &__text {
        &:not(:last-child) {
            @include adaptiveValue(margin-bottom, 30, 20, 1);
        }
    }
}
